* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_container {
    width: 100%;
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}